<div class="title">
  <h1>Welcome to Codaisseurify</h1>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="box">
      <h4> See List of Artists </h4>
      <!-- <%= link_to image_tag(@artists.image_url, class: "home-image"), artists_path %> -->
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <h4> See List of Songs </h4>
      <img src="song.jpg" alt="song">
    </div>
  </div>
</div>
