<div class="title">
  <h1>Welcome to Codaisseurify</h1>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="box">
      <h4>List of Artists </h4>
      <div class="image-container">
        <%= link_to image_tag("artist.jpg", class: "box-image"), artists_path %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="box">
      <h4>List of Songs </h4>
      <div class="image-container">
        <%= link_to image_tag("song.jpg", class: "box-image"), artist_songs_path(:artist_id), class: "box-image-link" %>
      </div>
    </div>
  </div>
</div>
