/*
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


html, body {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #53346D, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #53346D, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 20px;
}

hr {
  margin-left: 0px;
  width: 300px;
}

.container {
  max-width: 920px;
  .alert {
    margin-bottom: 0;
  }
}

.white {
  color: white;
}

.notice, .alert {
  color: grey;
}

.index-songs {
  .col-sm-6 {
    padding-left: 8px;
  }
}

.sort-button {
  padding: 5px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: grey;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.sort-button:hover {
  color: black;
}

.col-sm-6 {
  padding: 0;
}

// NAVBAR
.navbar {
  margin-bottom: 0;
  .navbar-brand {
    color: white;
  }
  .navbar-brand:hover {
    color: white;
  }
  .navbar-brand:focus {
    color: white;
  }
  background-color: transparent;
  border: 2px solid transparent;
}

.navbar-default {
  .navbar-nav {
    li{
      a {
        color: white;
        border-bottom: 2px solid transparent;
      }
      a:hover {
        color: lightgrey;
        border-bottom: 2px solid white;
      }
      a:focus {
        color: white;
      }
    }
  }
}

// HOMEPAGE
.title {
  h1 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: lightgrey;
    text-shadow: 2px 2px #000000;
  }
}

.new-song {
  .col-sm-6 {
    h1 {
      text-align: left;
    }
  }
}

.square-images {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.row {
  h4 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #4D4D4D;
  }
  h1 {
    text-align: center;
  }
  .box {
    h4 {
      text-align: center;
    }
    background-color: #faf4e2;
    padding: 20px;
    margin: 50px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    .image-container {
      width: 100%;
      height: auto;
      a {
        margin: 0 auto;
        .box-image {
          display: block;
          width: 100%;
          overflow: hidden;
        }
      }
    }
  }
}

.genre {
  text-align: center;
}
