// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Artist Page
body {
  color: white;
}

ul {
  padding-left: 0;
}
li {
  list-style: none;

}
.artist-list {
  .row {
    p {
      text-align: center;

    }
  }
  h1 {
    color: white;
  }
  p {
    font-size: 18px;
    .small-image {
      width: 250px;
      justify-content: center;
    }
    a {
      color: white;
    }
    a:hover {
      color: white;
      border-bottom: 2px solid purple;
    }
    a:focus {
      color: white;
    }
  }
}

.artist-details {
  color: white;
  max-width: 250px;
}

.artist-image {
  max-width: 250px;
  margin-top: 50px;
}

.new-artist, .change-artist {
  h1 {
    color: white;
  }
}

.song-name {
  font-size: 18px;
}

hr {
  width: 300px;
}

.links-div {
  width: 300px;
}
