// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: white;
}

label {
  color: white;
}

.form-control {
  color: white;
}

.new-song {
  h1 {
    color: white;
  }
  select {
    width: 100px;
  }
}

.index-songs {
  width: 300px;
  color: white;
}
