// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: white;
}

.col-xs-9 {
  p {
    text-shadow: 0.5px 0.5px darkgrey;
  }
}

label {
  color: white;
}

.form-control {
  color: white;
}

.new-song {
  h1 {
    color: white;
  }
  select {
    width: 100%;
    height: 40px;
    font-size: 25px;
  }
}

.index-songs {
  color: white;
}
